html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  body {
    font-family: "Libre Baskerville", serif;
    font-size: 1.6rem;
    background-color: #58595b;
  }
  header {
    width: 100%;
}
  
  header h1 {
    color: #865d06;
    height: 20px;
    margin-top: 8px;
    margin-left: 20px;
    text-shadow: 2px 1px 4px black;
  }
  nav {
    border: 2px solid #865d06;;
    background-color: #414042;
    opacity: 70%;
    width: 100%;
    height: 45px;
    justify-content: space-between;
    display: flex;
    position: relative;
    margin-top: 10px;
    box-shadow: 0px 4px 12px;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding-right: 0px;
    display: none;
  }
  
  nav ul li {
    color: #d9b362;
    padding: 8px 0;
  }
  nav ul li a {
    color: #d9b362;
    text-decoration: none;
  }

  
  .fa {
    padding: 14px;
    color: #b88518;
  }
  
  .show-items {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }

  /*  Main CSS START */

  main h1{
    text-align: center;
    padding: 20px;
  }
  .tbl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: scroll;
  }
  table{
    width: 100%;
    border-collapse: collapse;
    background-color: #414042;
  }
  th{
    color: #865d06;
    background-color: #161616;
  }
  th, td{
    text-align: center;
    padding: 1rem;
  }
  tr:nth-of-type(2n){
    background-color: #373636;

  } 
  /* end of table  */
   






  /* FOOTER CSS START */

footer{
    height: 40px;
    display: flex;
    text-align: left;
    justify-content: left;
    align-items: center;
    background-color: #1c1c1c;
  
  }
  footer a{
    font-size: 1.2rem;
    color: rgb(204, 206, 207);
    
  }














  /* @media only screen and (max-width: 400px){
    th{
      display: none;
    }
    td{
      display: block;
    }
  } */



  @media only screen and (min-width: 768px) {
    header {
      align-items: center;
    }
    nav {
      padding-top: 0;
    }
    nav .toggle {
      display: none;
    }
    #nav-items {
      display: flex;
      flex-direction: row;
      gap: 40px;
    }
  }

@media only screen and (min-width: 1050px) {
    header {
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-size: contain;
    }
    #nav-items{
        padding-right: 40px;
        
    }
    nav ul li a{
        color: #b88518;
        text-shadow: 2px 1px 4px black;
    }
    .back-box{
        width: 1300px;
        height: 500px;
        margin: 0 auto;
        background: rgba(0, 0, 0, 0.5);
      }
}
@media only screen and (min-width: 510px) {
    header {
      background-size: cover;
    }
  }