html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  body {
    font-family: "Libre Baskerville", serif;
    font-size: 1.6rem;
    background-color: #58595b;
  }
  
  header h1 {
    color: #865d06;
    height: 20px;
    margin-top: 8px;
    margin-left: 20px;
    text-shadow: 2px 1px 4px black;
  }
  nav {
    border: 2px solid #865d06;
    background-color: #1c1c1c;
    opacity: 70%;
    width: 100%;
    height: 45px;
    justify-content: space-between;
    display: flex;
    position: relative;
    margin-top: 10px;
    box-shadow: 0px 4px 12px;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding-right: 0px;
    display: none;
  }
  
  nav ul li {
    color: #d9b362;
    padding: 8px 0;
  }
  nav ul li a {
    color: #d9b362;
    text-decoration: none;
  }

  
  .fa {
    padding: 14px;
    color: #865d06;
  }
  
  .show-items {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  .back-box{
    width: 450px;
    height: 1000px;
    display: flex;
    display: block;
    text-align: center;
    justify-content: center;
    padding: 30px;
    margin: 50px auto;
    background: rgba(0, 0, 0, 0.6);
    border: 4px solid #865d06;
  }
  .back-box h1{
    color: #865d06;
    text-shadow: 2px 1px 4px black;
  }
  .reservation{
    width: 350px;
    margin: 80px auto;
  }
  .main-input-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .input-box:nth-child(2nd){
    justify-content: end;
  }
  .input-box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin-left:-18px;

  }
  .input-box ::placeholder{
    color: rgb(204, 206, 207);
    font-size: 1.3rem;
  }
  .input-box label{
    color: #865d06;
    font-family: "Roboto"sans-serif;
    font-size: 1.5rem;
  }
  .input-box input{
    width: 100%;
    height: 8px;
    background: transparent;
    border: none;
    border: 1px solid #865d06;
    border-radius: 30px;
    padding: 20px 40px 20px 20px;
  
  }
  /* .destinaton{
    width: 350px;
    margin: 80px auto;
    
  } */
  h4{
    display: inline-block;
    margin-left: 150px;
    margin-top: 50px;
    color: #865d06;
  }
  .select{
    text-align: left;
    margin-bottom: 20px;
    color: #865d06;
    margin-left: 80px;
  }
  .on-map{
    color: #865d06;
    /* margin-top: 40px; */
    margin-left: 80px;
    margin-bottom: 10px;

  }
  .main-select{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .input-box2:nth-child(2nd){
    justify-content: end;
  }
  .input-box2{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 -18px;

  }
  .input-box2 input{
    width: 100%;
    height: 8px;
    background: transparent;
    border: none;
    border: 1px solid #865d06;
    border-radius: 30px;
    padding: 20px 40px 20px 20px;
  
  }
  .input-box2 ::placeholder{
    color: rgb(204, 206, 207);
    font-size: 1.3rem;
  }
  .input-box2 label{
    font-family: "Roboto"sans-serif;
    color: #865d06;
  }
  .btn{
    width: 160px;
    height: 38px;
    background-color: #b88518;
    margin: 20px auto;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn a{
    color: #1c1c1c;
    text-decoration: none;
  }















  /* FOOTER CSS START */

footer{
  height: 40px;
  display: flex;
  text-align: left;
  justify-content: left;
  align-items: center;
  background-color: #1c1c1c;

}
footer a{
  font-size: 1.2rem;
  color: rgb(204, 206, 207);
  
}


  


























  @media only screen and (min-width: 768px) {
    header {
      align-items: center;
    }
    nav {
      padding-top: 0;
    }
    nav .toggle {
      display: none;
    }
    #nav-items {
      display: flex;
      flex-direction: row;
      gap: 40px;
    }
  }

@media only screen and (min-width: 1050px) {
    header {
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-size: contain;
    }
    #nav-items{
        padding-right: 40px;
        
    }
    nav ul li a{
        color: #b88518;
        text-shadow: 2px 1px 4px black;
    }
    .back-box{
        width: 1300px;
        height: 500px;
        margin: 0 auto;
        background: rgba(0, 0, 0, 0.5);
      }
}
@media only screen and (min-width: 510px) {
    header {
      height: 600px;
      background-size: cover;
    }
  }