html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Libre Baskerville", serif;
  font-size: 1.6rem;
  background-color: #58595b;
}
header {
  height: 250px;
  background-image: url(images/header-back2.png);
  opacity: 20px;
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -7px;
  box-shadow: 1px 3px 7px;
}

header h1 {
  color: #865d06;
  height: 20px;
  margin-top: 8px;
  margin-left: 20px;
  text-shadow: 2px 1px 4px black;
}
header a {
  color: #865d06;
  text-shadow: 2px 1px 4px black;
}
nav {
  border-top: 2px solid #865d06;
  border-bottom: 2px solid #865d06;
  background-color: #414042;
  opacity: 70%;
  width: 100%;
  height: 45px;
  justify-content: space-between;
  display: flex;
  position: relative;
  margin-top: 10px;
  box-shadow: 0px 4px 12px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding-right: 0px;
  display: none;
}

nav ul li {
  color: #d9b362;
  padding: 8px 0;
}
nav ul li a {
  color: #d9b362;
  text-decoration: none;
}
.title {
  margin-top: 40px;
}
.title h1 {
  text-align: center;
  color: #865d06;
  font-size: 4rem;
  text-shadow: 2px 1px 4px black;
}
.title h6 {
  text-align: center;
  color: #865d06;
  margin-bottom: -11px;
}
.title h4 {
  text-align: center;
  color: #865d06;
}

.fa {
  padding: 14px;
}

.show-items {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;

}

/* header css end */
.hero {
  width: 100%;
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  top: 240px;
}
.hero-content {
  margin: 0 auto;
}
.hero h1 {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  color: #865d06;
  text-align: center;
  text-shadow: 5px 2px 12px black;
}
.hero a {
  color: #d9b362;
  padding: 20px;
  font-size: 1rem;
}
.options section {
  width: 250px;
  height: 340px;
  box-shadow: 8px 13px 17px;
  background-color: #2b2a2b;
  border-radius: 20px;
  border-top: 4px solid #865d06;
  border-bottom: 4px solid #865d06;
}
.options img {
  width: 153px;
  height: 106px;
  border-radius: 15px;
  border: 1px solid #d9b362;
  margin-top: 14px;
}
.options h4 {
  font-family: "Roboto", sans-serif;
  color: #865d06;
}
.options p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 17px;
  padding: 22px;
  margin-top: -28px;
  color: rgb(204, 206, 207);
}
.options a {
  font-size: 1rem;
  color: #865d06;
  text-decoration: none;
  margin-bottom: 20px;
}

/* HERO CSS END */




.work{
    width: 100%;
    height: 275px;
    margin-top: 250px;
    display: flex;
    
}
.work-content{
    width: 1170px;
    height: 250px;
    margin: 0 auto;
    background-color: #2b2a2b;
    border-top: 1px solid #865d06;
    border-bottom: 1px solid #865d06;
    box-shadow: 4px -2px 13px;
    border-radius: 7px;
}
.work h6{
    color: #865d06;
    text-align: center;
    font-family: "Roboto", sans-serif;
}
.work h4{
    color: #865d06;
    text-align: center;
    font-family: "Roboto", sans-serif;
    margin-top: -18px;
}
.icons{
    text-align: center;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.icons img{
    width: 70px;
    height: 70px;
    border-radius: 70px;
}
.icons a{
    font-size: 1rem;
    text-align: center;
    margin-top: 6px;
    color: #865d06;
}
/* WORK PART CSS END */




.about{
    width: 100%;
    height: 300px;
    display: flex;
    text-align: center;
}
.about-content{
    width: 1170px;
    height: 325px;
    margin: 0 auto;
    border-bottom: 1px solid #865d06;
}
.about img {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    border: 1px solid #d9b362;
    margin-top: 14px;
}
.about h3{
    font-family: "Roboto", sans-serif;
    color: #d9b362;
}
.about h6{
    color: #d9b362;
    margin-top: 3px;
}
.about q{
    color: rgb(204, 206, 207);
    margin-top: 3px;
}
/* REVIEW SECTION START */
.review{
  width: 100%;
  height: 220px;
  display: flex;
  text-align: center;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}
.user{
  width: 1170px;
  height: 220px;
  margin: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}
.star{
  width: 100%;
  height: 20px;
  margin-top: -18px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  color: #d9b362;
  padding: 14px;
}
.star i{
  font-size: 1rem;
  padding: 0px;
  
}

.all-user{
  width: 120px;
  height: 180px;
  background-color: #58595b;
  box-shadow: 2px 4px 11px;
  border-radius: 10px;
  
  
}
.all-user img{
  width: 40px;
  height: 40px;
  border-radius: 40px;
  margin-top: 20px;
  box-shadow: 0px 2px 8px;
  border: 2px solid #1c1c1c;
}
.all-user h5{
  margin-top: 5px;
  font-family: "Roboto", sans-serif;
  color: #d9b362;
}
.all-user a h6{
  padding-top: 20px;
  font-size: 0.7rem;
  color: rgb(204, 206, 207);
  
}
.all-user a{
  text-decoration: none;
}


/* INFO SECTION CSS */

.info{
  width: 100%;
  height: 300px;
  display: flex;
  text-align: center;
  margin-top: 50px;
}
.box{
  width: 1170px;
  height: 221px;
  margin: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}
.all-box .box1{
  display: flex;
  align-items: center;

  justify-content: center;

}
.box h1{
  font-family: "Roboto-bold", sans-serif;
  color: #d9b362;
  margin: 10px;
  text-align: center;
}
.box1{
  width: 210px;
  height: 280px;
  background-color: #414042;
  margin-right: 10px;
  border-radius: 20px;
  padding: 0 10px;
  box-shadow: 2px 4px 11px;
  
}
.box1 .input-box{
  width: 100%;
  height: 20px;
  margin: 30px auto ;
}
.input-box input{
  width: 100%;
  height: 20px;
  background: transparent;
  border: none;
  border: 1px solid #d9b362;
  border-radius: 30px;
  padding: 20px 40px 20px 20px;

}
.info .forgot{
  color: black;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  align-items: center;

}
.forgot a{
  color: black;
  text-decoration: none;

}
.info p{
  color: black;
  font-size: 1rem;
}
.rgstr a{
  font-size: 1rem;
  color: black;
}
.rgstr{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.box .btn{
  width: 100%;
  height: 30px;
  margin-top: 20px;
  background: #d9b362;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 15px;
}

.box2{
  width: 150px;
  height: 280px;
  border-left: 2px solid #d9b362;
  color: #d9b362;
  text-align: center;
}
.box2 ul{
  list-style-type: none;
  margin-left: 0px;
  padding: 0px;
  text-decoration: none;
  margin-top: -20px;
}
.box2 li a{
  font-size: 1rem;
  text-decoration: none;
  text-align: left;
  color: rgb(204, 206, 207);
 

}
.social{
  display: flex;
  justify-content: space-between;
}
.social i{
  color: #d9b362;
  font-size: ;
}

/* FOOTER CSS START */

footer{
  height: 40px;
  display: flex;
  text-align: left;
  justify-content: left;
  align-items: center;
  background-color: #1c1c1c;

}
footer a{
  font-size: 1.2rem;
  color: rgb(204, 206, 207);
  
}




















/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  header {
    align-items: center;
  }
  nav {
    padding-top: 0;
  }
  nav .toggle {
    display: none;
  }
  #nav-items {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}
@media only screen and (min-width: 1050px) {
  header {
    width: 100%;
    height: 600px;
    background-size: cover;
    border-bottom: 4px solid #865d06;
  }
  .title {
    margin-top: 200px;
  }
  .title h1 {
    font-size: 10rem;
  }
  .title h6 {
    font-size: 2rem;
  }
  .title h4 {
    font-size: 4rem;
    padding-top: 17px;
  }
  .hero {
    float: left;
  }
  .hero h1 {
    font-size: 5rem;
  }
  .hero a {
    font-size: 2rem;
  }

  .options {
    width: 1000px;
    height: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    float: left;
  }
  .section {
    float: left;
  }
  .section a {
    font-size: 1rem;
  }
  .work {
    margin-top: 587px;

   } 
   .about{
    margin-top: -19px;
   }
   .box{
    margin: 25px auto;
  }
  .all-box{
    width: 360px;
    height: 275px;
  }
  .all-user{
    width: 312px;
  }
  .star{
    width: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-left: 106px;
  }
  .social{
    justify-content: center;
  }
}
@media only screen and (min-width: 470px){
.work {
    margin-top: 587px;

   } 

   

}

@media only screen and (min-width: 490px) {
  .hero {
    top: 576px;
  }
}
@media only screen and (min-width: 510px) {
  header {
    width: 10;
    height: 600px;
    background-size: cover;
  }
}
